@{
    ViewData["Title"] = "Home Page";
    DateTime dateTime = (DateTime) ViewData["DateTime"];
    string userName = (string) ViewData["UserName"];
    List<EntryModel> monthEntries = (List<EntryModel>) ViewData["monthEntries"];
}

@section scripts{ 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('#txtDate').datepicker({
                changeMonth: true,
                changeYear: true,
                format: "yyyy-mm-dd",
                language: "tr"
            });
        });
    </script>
}

<div class="text-center">
    @{
        if (monthEntries == null || monthEntries.Count == 0) {
            <h3 class="display-4">Entries for @userName on @dateTime.ToShortDateString() does not exists.</h3>
        } else {
<h3 class="display-4">Entries for @userName</h3>
    <h4 class="text-left p-4">User entries:</h4>
    
    <table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Code</th>
        <th scope="col">Date</th>
        <th scope="col">Subcode</th>
        <th scope="col">Time</th>
        <th scope="col">Description</th>
        </tr>
    </thead>
    @{
        int entryIndex = 0;
        int timeSum = 0;
        foreach(EntryModel entry in monthEntries) {
            entryIndex++;
            timeSum += entry.time;
            <tbody>
                <tr>
                    <th scope="row">@entryIndex</th>
                    <td>@entry.code</td>
                    <td>@entry.date.ToShortDateString()</td>
                    <td>@entry.subcode</td>
                    <td>@entry.time</td>
                    <td>@entry.description</td>
                </tr>
            </tbody>
        }
    int hours = timeSum / 60;
    int minutes = timeSum - hours * 60;

    }
    </table>

    <h4 class="text-left p-4">@Html.Raw(String.Format("Time of all activities: {0} hour(s) and {1} minute(s) on {2}", @hours, @minutes, @dateTime.ToShortDateString()))</h4>
        }
    }

    <partial name="_CalendarPartial" />

    @Html.ActionLink(
    "Previous day",
    "Index",
    "Home",
    new { userName = @userName, dateString = @dateTime.AddDays(-1).ToString("yyyy-MM-dd") }, 
    new { @class = "btn btn-primary btn-lg active" })

    @Html.ActionLink(
    "Next day", 
    "Index",
    "Home",
    new { userName = @userName, dateString = @dateTime.AddDays(1).ToString("yyyy-MM-dd") }, 
    new { @class = "btn btn-primary btn-lg active" })


</div>
