@{
    ViewData["Title"] = "Manager entries page";
    int budget = (int) ViewData["Budget"];
}
@model IEnumerable<NtrTrs.Models.EntryModel>

<div class="container">

    <div class="text-center">
            @if (Model != null && Model.Count() != 0) {
                <h4 class="display-4">@Html.Raw(String.Format("Activity {0}", @Model.FirstOrDefault().Code))</h4>
                
                int index = 0;
                int timeSum = 0;

                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.Date)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.Subcode)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.Time)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.Description)</th>
                        </tr>
                    </thead>

                    @foreach (var entry in Model) {
                        index++;
                        timeSum += entry.Time;
                        <tbody>
                            <tr>
                                <th scope="row">@index</th>
                                <td>@Html.DisplayFor(modelItem => entry.Date)</td>
                                <td>@Html.DisplayFor(modelItem => entry.Subcode)</td>
                                <td>@Html.DisplayFor(modelItem => entry.Time)</td>
                                <td>@Html.DisplayFor(modelItem => entry.Description)</td>
                            </tr>
                        </tbody>
                    }
                </table>
                    int hours = (budget - timeSum) / 60;
                    int minutes = (budget - timeSum) - hours * 60;
            <h4 class="text-left p-4">@Html.Raw(String.Format("Budget left: {0} hour(s) and {1} minute(s)", @hours, @minutes))</h4>
        }
    </div>
</div>