@{
    ViewData["Title"] = "Create entry";
}

@model NtrTrs.Models.EntryModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>

    <script type="text/javascript">
        function showSubmitMessage() {
            var div = document.getElementById("entry-submit");
            console.log("@ViewBag.ResponseStatus")
            switch("@ViewBag.ResponseStatus") {
                case("ERROR"):
                    //div.innerHTML = `<div class="alert alert-success" role="alert">@ViewBag.SuccessResponse</div>`
                    div.innerHTML = `<div>"@ViewBag.SuccessResponse"</div>`
                    break;
                case("SUCCESS"):
                    div.innerHTML = `<div>NIE DUPA</div>`
                    break;
            }
        }
    </script>
</head>
<body>

<h4>Entry</h4>
<hr />
<div class="row justify-content-center">
    <div class="col">
        <form asp-action="Create" onsubmit="showSubmitMessage(); return false;">
            <div asp-validation-summary="All"></div>  
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control"  />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subcode" class="control-label"></label>
                <input asp-for="Subcode" class="form-control" />
                <span asp-validation-for="Subcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group d-flex justify-content-between">
                @* <a asp-action="Index" class="btn btn-primary">Back to List</a> *@
                <a href="@Url.Action("Index", "Entry")" class="btn">
                    <i class="fas fa-angle-left arrow"></i>
                </a>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    <div id="entry-submit">
    </div>
</div>

</div>
</body>
</html>
